<h1 class="text-center">Eat-A-Burgers!</h1>

<div class="container">
    <div class="row">
        <div class="col">
            <h2>To be eaten!</h2>
            {{#each burger}}
            {{#unless devoured}}
                <ul>
                    <p>{{this.burger_name}}</p>
                    {{name}}
                    <button class="change-devoured" data-id="{{id}}" data-newdevoured="{{devoured}}">
                        {{#if devoured}} {{else}} Devour it! {{/if}}
                    </button>
                </ul>
            {{/unless}}
            {{/each}}
        </div>
        <div class="col">
            <h2>Eaten!</h2>
            {{#each burger}}
            {{#if devoured}}
                <ui>
                    <p>{{this.burger_name}}</p>
                </ui>
            {{/if}}
            {{/each}}
        </div>
    </div>

    <h2>Add a burger:</h2>
    <form id="create-form">
        <div class="form-group">
            <label for="ca">Burger Name:</label>
            <input type="text" id="ca" name="name">
        </div>
        <button type="submit">Submit for eating</button>
    </form>
</div>




